.vs
.tfignore
node_modules
bin/
bin/Debug/
bin/Release/
obj/
obj/Debug/
obj/Release/
packages/
dist/
*.nupkg
*.zip
DockerBuild/

!inpout32.dll
!inpout32.lib
!inpout64.dll
!inpout64.lib
/Themes/DevExpress/WPF/ETrade/.td/OriginTheme/obj.Wpf/Debug/DevExpress.Xpf.Themes.Office2019Colorful.csproj.AssemblyReference.cache
/Themes/DevExpress/WPF/ETrade/.td/Sources/obj.Wpf/Debug/DevExpress.Xpf.Themes.Office2019Colorful.csproj.AssemblyReference.cache
/Webservices/Webclock.Hub/Webclock.Hub.sln
/Projects/QUI/Applications/Webclock.QUI.Borne/Webclock.QUI.Borne.Abstract/Models/CQET/SalesOrderLocationSupplier.cs
/Projects/QUI/Applications/Webclock.QUI.Borne/Webclock.QUI.Borne.Abstract/Models/CQET/SalesOrderLocationSpeciesQuality.cs
/Websites/Aucxis.Webclock.Admin/.angular/cache/13.2.6
/Applications/Webclock.APP/TestConsole/Webclock.App
